#label_nombre {
  font-family: "alarm clock";
  font-size: 100px;
  letter-spacing: 25px;
  font-weight: bold;
  color: yellow;
  border: 2mm ridge rgba(255, 255, 0, .9);
  border-radius: 25px;
  background: black;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
#btn {
  font-size: 20px;
  font-weight: bold;
  background: green;
  color: yellow;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
#nom{
  background: green;
  color: yellow;
}